@import "compass/css3";
 *, *:before, *:after {
	 box-sizing: border-box;
}
 html {
	 overflow-y: scroll;
}
 body {
	 background: #f8f7f6;
	 font-family: 'Titillium Web', sans-serif;
}
 a {
	 text-decoration: none;
	 color: #1ab188;
	 transition: 0.5s ease;
}
 a:hover {
	 color: #179b77;
}
 .form {
	 background: rgba(19, 35, 47, .9);
	 padding: 40px;
	 max-width: 600px;
	 margin: 40px auto;
	 border-radius: 4px;
	 box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}
 