table {
    
    border: 1px solid black;
    margin: auto;
  }

  th,td,tr{
    border: 1px solid black;
  }

  .patient{
    background-color: lightseagreen;
  }

  .jour{
    background-color: brown;
  }